.ql-image-text-column {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.ql-image-text-column .bg-dark h1,
.ql-image-text-column .bg-dark h2,
.ql-image-text-column .bg-dark h3,
.ql-image-text-column .bg-dark h4,
.ql-image-text-column .bg-dark h5,
.ql-image-text-column .bg-dark h6,
.ql-image-text-column .bg-dark span,
.ql-image-text-column .bg-dark a,
.ql-image-text-column .bg-dark p,
.ql-image-text-column .bg-dark li {
  color: #fff;
}

.ql-image-text-column .column {
  position: relative;
  overflow: hidden;
}

.ql-image-text-column .column-content {
  padding: 80px 0 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.ql-image-text-column .column-content.bg-primary {
  background-color: #245995;
}
.ql-image-text-column .column-content.bg-black {
  background-color: #282828;
}
.ql-image-text-column .column-content.bg-grey_light {
  background-color: #f8f8f8;
}
.ql-image-text-column .column-content.bg-transparent {
  background-color: transparent;
}

.ql-image-text-column .column-content-inner {
  margin-left: 40px;
  margin-right: 40px;
}

.ql-image-text-column .column-image {
  position: relative;
}

.ql-image-text-column .column-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.ql-image-text-column .column-image.image-contain img {
  object-fit: contain;
}

.ql-image-text-column .column-image,
.ql-image-text-column .column-image img {
  aspect-ratio: 1.5/1;
}

.ql-image-text-column
  .column-content
  .ql-button.button-display-inline:not(:first-of-type) {
  margin-left: 8px;
}

.acf-block-preview .ql-image-text-column.align-full {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

@media only screen and (min-width: 960px) {
  .ql-image-text-column {
    flex-direction: initial;
  }

  .ql-image-text-column .column-content {
    padding: 80px 0;
    flex-basis: 50%;
    z-index: 1;
    margin-top: 0;
  }
  .ql-image-text-column .column-image {
    flex-basis: 50%;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .ql-image-text-column .column-image,
  .ql-image-text-column .column-image img {
    aspect-ratio: 1.2/1;
  }

  .ql-image-text-column .column-content-inner {
    margin-left: 80px;
    margin-right: 80px;
  }

  /* Reverse columns */
  .ql-image-text-column.reverse-columns {
    flex-direction: row-reverse;
  }
  .ql-image-text-column.reverse-columns .column-content {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .ql-image-text-column .column-content-inner {
    margin-left: 140px;
    margin-right: 140px;
  }
}

@media only screen and (max-width: 480px) {
  .ql-image-text-column .column-content {
    padding: 40px 0;
  }

  .ql-image-text-column .column-content-inner {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ql-image-text-column
    .column-content
    .ql-button.button-display-inline:not(:first-of-type) {
    margin-left: 0;
  }
}
